* {
    border-radius: 0;
}

body {
    background: #222;
}

input,
button,
button:focus,
button:hover,
textarea,
textarea:focus,
textarea:hover {
    outline: 0!important;
    border-radius: 0!important;
    box-shadow: none;
}

input[type=checkbox] {
    /* width: 20px;
    height: 20px; */
}

input:focus {
    border-color: #fff!important;
}

.task-addInput,
.task-remindTime,
.task-remindTime-select,
.task-addBtn {
    height: 50px;
    font-size: 1.6rem;
}

.task-remindTime {
    display: inline-block;
    min-width: 180px;
}

.task-add>.col-md-12 {
    padding: 0!important;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    /* color: #fff; */
}

.task-title {
    text-align: center;
    color: #fff;
}

.task-add {
    margin-bottom: 10px;
    background: #fff;
}

.task-list {
    overflow: hidden;
}

.task-list-head,
.noTask {
    background: #fff;
    line-height: 50px;
    margin-bottom: 2px;
    text-align: center;
}

.noTask {
    transition: all 0.4s ease-in-out;
}

.task-list-paginationArea {
    background: #fff;
    margin-top: 10px;
    padding: 5px 0;
    display: none;
}

.task-list-item {
    line-height: 40px;
    margin-bottom: 2px;
    background: #fff;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.task-list-item:hover {
    background: #ccc;
    color: #000;
}

.task-item-action {
    cursor: pointer;
    margin: 0 5px;
}

.task-item-delete:hover {
    color: red;
}

.task-item-detail:hover {
    color: #5cb85c;
}

.task-detail-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 3;
    display: none;
}

.task-detail {
    z-index: 4;
    position: absolute;
    top: 30%;
    left: 40%;
    background: #fff;
    width: 350px;
    border-radius: 5px;
    padding: 30px 20px;
    padding-top: 0;
    display: none;
}

.task-detail>h3 {
    text-align: center;
}

.task-detail>.task-detail-container {
    margin-bottom: 20px;
}

.task-detail-container>.content {
    margin-bottom: 5px;
}

.content>.task-title {
    color: #000;
}

.task-detail-container>.description {
    margin-bottom: 5px;
}

textarea[name=description] {
    resize: none;
    height: 100px;
}

.task-detail-buttons>button:first-child {
    margin-right: 10px;
}

.content>span,
.remind>span {
    border-radius: 0;
}

.remind>.remindDate:focus {
    outline: none;
}